Django==4.1.1
pytest==7.0.1
pytest-django==4.5.2
psycopg2==2.9.3  # For PostgreSQL support (use it only if using PostgreSQL)
gunicorn==20.1.0  # Production-ready WSGI server
xhtml2pdf==0.2.7
python-docx==0.8.11
reportlab==3.5.68
